<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-10">
      <div class="app-window container">
        <div class="macos-top-bar">
          <div class="macos-top-bar-q"></div>
          <div class="macos-top-bar-min"></div>
          <div class="macos-top-bar-max"></div>
        </div>
        <div class="app-window-content">
          <div class="row text-center">
            <div class="app-source-col col">
              <p>
                <span class="app-source-title">Memory Card</span>
                <br />
                <span class="app-source-meta">239 files, 39.68 GB</span>
                <br />
                <span class="app-browse">Browse</span>
              </p>
            </div>
            <div class="app-arrow col-1">
              <span class="align-middle">→</span>
            </div>
            <div class="app-source-col col">
              <p>
                <span class="app-source-title">Photos</span>
                <br />
                <span class="app-source-meta">653.68 GB free</span>
                <br />
                <span class="app-browse">Browse</span>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p>
                Source: <span class="text-primary">/Volumes/Memory Card</span>
              </p>
            </div>
            <div class="col text-right">
              <p>
                Destination:
                <span class="text-primary"
                  >/Volumes/External Drive/Media/Photos</span
                >
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="progress">
                <div class="progress-bar" role="progressbar"></div>
              </div>
            </div>
          </div>
          <div class="app-window-stats row">
            <div id="progress-count" class="col">
              <p>Processing file 84/239</p>
            </div>
            <div id="progress-percentage" class="col text-center">
              <p>35%</p>
            </div>
            <div id="progress-eta" class="col text-right"><p>Approx. 5 minutes left</p></div>
          </div>
          <div class="row">
            <div class="col text-center">
              <a name="" id="" class="btn app-ol-btn" href="#" role="button"
                >Offload</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
