

<article id="donate">
  <div class="container">
    <div class="donate-container">
      <div class="row">
        <div class="col">
          <h2>
            Buy me a
            <span class="who-drinks-coffee-anyways">coffee</span>
            <span id="donate-p">donut</span>
          </h2>
          <p>Please consider buying this free app if you enjoy using it.</p>
        </div>
        <div class="col-lg-2 col-md-3 align-self-center">
          <div class="form-group">
            <!-- <label for="donateAmount">Amount</label> -->
            <div class="donate-amount">
              <input
                type="text"
                class="form-control"
                id="donateAmount"
                aria-describedby="donateHelp"
                placeholder="10"
              />
              <span class="currency-suffix">$</span>
            </div>
            <a
              class="btn btn-primary donate-button"
              href="https://paypal.me/thejoltjoker/10usd"
              role="button"
            >
              Donate
            </a>
            <!-- <small id="donateHelp" class="form-text text-muted">Donate through paypal.</small> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
