<table id="report" class="table table-sm table-bordered">
  <thead class="thead-light">
    <tr>
      <th scope="col">Source Filename</th>
      <th scope="col">Destination Filename</th>
      <th scope="col">Status</th>
      <th scope="col">Source Checksum</th>
      <th scope="col">Destination Checksum</th>
      <th scope="col">Source Path</th>
      <th scope="col">Destination Path</th>
      <th scope="col">Size</th>
      <th scope="col">Modification Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>A7_05857.ARW</td>
      <td>201212_A7_05857.ARW</td>
      <td class="text-success">Succesful</td>
      <td>061bf43a8c13c2c0</td>
      <td>061bf43a8c13c2c0</td>
      <td>/Volumes/Source/DCIM/100MSDCF/A7_05857.ARW</td>
      <td>/Volumes/Destination/Photos/2020/2020-12-12/201212_A7_05857.ARW</td>
      <td>24.68 MB</td>
      <td>2020-12-12 21:00:48</td>
    </tr>
    <tr>
      <td>A7_05858.ARW</td>
      <td>201212_A7_05858.ARW</td>
      <td class="text-success">Succesful</td>
      <td>0a1294bfd9e44faf</td>
      <td>0a1294bfd9e44faf</td>
      <td>/Volumes/Source/DCIM/100MSDCF/A7_05858.ARW</td>
      <td>/Volumes/Destination/Photos/2020/2020-12-12/201212_A7_05858.ARW</td>
      <td>24.9 MB</td>
      <td>2020-12-12 21:01:04</td>
    </tr>
    <tr>
      <td>A7_05859.ARW</td>
      <td>201212_A7_05859.ARW</td>
      <td class="text-info">Skipped</td>
      <td>200eef3549445125</td>
      <td>200eef3549445125</td>
      <td>/Volumes/Source/DCIM/100MSDCF/A7_05859.ARW</td>
      <td>/Volumes/Destination/Photos/2020/2020-12-12/201212_A7_05859.ARW</td>
      <td>24.88 MB</td>
      <td>2020-12-12 21:01:06</td>
    </tr>
    <tr>
      <td>A7_05860.ARW</td>
      <td>201212_A7_05860.ARW</td>
      <td class="text-success">Succesful</td>
      <td>1751519b41e7ebdf</td>
      <td>1751519b41e7ebdf</td>
      <td>/Volumes/Source/DCIM/100MSDCF/A7_05860.ARW</td>
      <td>/Volumes/Destination/Photos/2020/2020-12-12/201212_A7_05860.ARW</td>
      <td>24.89 MB</td>
      <td>2020-12-12 21:01:18</td>
    </tr>
    <tr>
      <td>A7_05861.ARW</td>
      <td>201212_A7_05861.ARW</td>
      <td class="text-danger">Failed</td>
      <td>ce37da7eaef69b19</td>
      <td>ce37da7eaef69b19</td>
      <td>/Volumes/Source/DCIM/100MSDCF/A7_05861.ARW</td>
      <td>/Volumes/Destination/Photos/2020/2020-12-12/201212_A7_05861.ARW</td>
      <td>24.95 MB</td>
      <td>2020-12-12 21:01:30</td>
    </tr>
  </tbody>
</table>
