---
---

@import "variables";
@import "bootstrap/bootstrap";
@import "bootstrap-icons";

@mixin window-shadow {
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.35);
}

@mixin yellow-button($pad-y, $pad-x) {
  padding: $pad-y $pad-x;
  font-weight: $font-weight-bold;
  color: $clr-dark-primary;
  margin: 0 0 0.6rem;
}

::selection {
  background: lighten($primary, 10%);
  color: $clr-bg;
}

body {
  position: relative;
}

article {
  padding: $vert-pad 0;
  font-size: $font-size-md;
  @include media-breakpoint-up(md) {
    font-size: $font-size-lg;
  }
}

p {
  color: #77787c;
}

h2 {
  font-size: $h2-font-size * 0.7;
  @include media-breakpoint-up(md) {
    font-size: $h2-font-size;
  }
}


.icon {
  position: relative;
  top: -0.1em;
}

.who-drinks-coffee-anyways {
  text-decoration: line-through;
  text-decoration-color: $clr-dark-orange;
  text-decoration-thickness: 0.25em;
}

.top-menu {
  font-size: $font-size-lg;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.2);
  background: $white;
  background: linear-gradient(90deg, $primary 50%, $white 50%);
  background-size: 200%;
  background-position: 100% 100%;
  animation: nav-progress 1s linear infinite, top-menu-shadow 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
  @include media-breakpoint-up(md){
    font-size: $font-size-base;
  }
  a {
    color: $clr-gray;
  }
}

@keyframes nav-progress {
	to {
    background-position: 0% 100%;
	}
}

@keyframes top-menu-shadow {
	2% {
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.2);
  }
  7%{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  100%{
    box-shadow: 0 0 8px rgba(150, 100, 0, 0.5);
  }
}

.navbar-brand {
  font-weight: $font-weight-bold;
}

.jumbotron {
  // background: url("../img/samsung-memory-ngWKDQhM88Q-unsplash.jpg");
  // background-repeat: no-repeat;
  // background-position: center;
  // background-size: cover;
  // color: $white;
}

.divider {
  height: 2px;
  background: $primary;
}
#feature-gui {
  // background: $clr-bg;
  color: $white;
  font-weight: $font-weight-light;
}
.window-wrapper {
  position: relative;
}
.ow-wrapper,
.tw-wrapper {
  position: relative;
  width: 100%;
  float: left;
  // @include media-breakpoint-up(md){
  //   width: 50%;
  // }
  @include media-breakpoint-up(lg){
    width: 75%;
  }
}
.tw-wrapper {
  @include media-breakpoint-down(md) {
    margin-bottom: $spacer;
  }
}
.ow-wrapper {
  @include media-breakpoint-up(md){
    margin-top: -10%;
    margin-left: 3vw;
  }
  @include media-breakpoint-up(lg){
    margin-top: -10%;
    margin-left: 25%;
  }
}

.old-window {
  font-weight: normal;
  // font-family: Arial, Helvetica, sans-serif;
  font-size: $font-size-base;
  border: solid;
  border-width: 2px;
  border-bottom-color: #424242;
  border-right-color: #424242;
  border-left-color: #fff;
  border-top-color: #fff;
  background: silver;
  color: #212529;
  padding: 3px;
  @include window-shadow();
  p {
    color: inherit;
    margin: 0;
  }

  ::selection {
    background: desaturate($color: #a5cef7, $amount: 20%);
  }
  .ow-remaining {
    // font-size: $small-font-size;
  }
  .ow-titlebar {
    padding: 0.2em 0.3em;
    background: -webkit-linear-gradient(left, #08216b, #a5cef7);
    color: #fff;
    display: block;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 1px;
    text-align: left;
    margin-bottom: 3px;
  }
  .ow-menu {
    padding-left: 2px;
    word-spacing: 0.4em;
  }

  .ow-text-field {
    padding: 0.2em 0.4em;
    background: $white;
    border: solid;
    border-width: 2px;
    border-top-color: #424242;
    border-left-color: #424242;
    border-right-color: #eee;
    border-bottom-color: #eee;
  }

  .ow-content {
    padding: 0.2em;
  }
  .ow-btn {
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-right-color: #424242;
    border-bottom-color: #424242;
    background: silver;
    color: black;
    padding: 0.2em 1em;
    border-radius: 1px;
  }
  .ow-progress {
    display: flex;
    height: 1rem;
    overflow: hidden;
    margin: 2px 0;
    font-size: 0.75rem;
    background-color: silver;
    border-radius: 0;
    border: 1px inset #d5d5d5;
    color: #424242;

    .ow-progress-bar {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 5rem;
      color: #fff;
      text-align: center;
      background-color: #1a0094;
      transition: width 0.6s ease;
      background-image: linear-gradient(90deg, transparent 80%, silver 20%);
      background-size: 1rem 1rem;
    }
  }
}
.term-window {
  background: darken($clr-bg, 12%);
  @include window-shadow();
  border: 2px solid $gray-800;
  padding: 1rem;
  border-radius: $border-radius-lg;
  font-family: $font-family-monospace;
  color: $green;
  font-size: $font-size-base;
  font-weight: $font-weight-normal;

  p {
    color: inherit;
  }

  ::selection {
    background: $green;
    color: $clr-bg;
  }
}

.app-window {
  user-select: none;
  color: $clr-gray;
  padding: 0;
  letter-spacing: 0.02em;
  border-radius: 6px;
  font-weight: 300;
  font-size: 16px;
  @include window-shadow();
  border: 0.5px solid $gray-500;

  .app-ol-btn {
    padding: 10px 30px;
    font-weight: $font-weight-bold;
    background: $primary;
    color: $clr-dark-primary;
    margin: 0 0 0.6rem;
    // animation: offload-btn 1s linear infinite;
    // animation-play-state: paused;
    // animation-delay: calc(var(--scroll) * -1s);
  }
  .app-ol-btn-active {
    background: $clr-gray !important;
    color: $clr-bg !important;
  }
  .app-ol-btn-done {
    background: $green !important;
    color: $clr-bg !important;
  }
}
@keyframes offload-btn {
  0% {
    background: $primary;
    color: $clr-dark-primary;
  }
  0.1% {
    background: $clr-gray;
    color: $clr-bg;
  }
}

.app-window-content {
  background: $clr-bg;
  padding: 0 25px 15px;
  border-radius: 0 0 6px 6px;
  border: 1px $gray-700;
  border-style: none solid solid solid;
}

.app-window-stats {
  padding: 0.8rem 0 0.2rem;
}

.app-source-col,
.app-dest-col {
  margin: 5rem 0;
}

.app-source-title,
.app-dest-title {
  font-size: 24px;
  font-weight: $font-weight-bold;
  color: $clr-white;
}

.app-browse {
  color: $primary;
  font-weight: $font-weight-bold;
}

.app-arrow {
  height: 100%;
  font-weight: $font-weight-base;
  margin: 6rem 0;
  font-size: 24px;
  color: $white;
}

.progress {
  width: 100%;
}

.progress-bar {
  width: 0%;
  animation: width 1s linear infinite;
  animation-play-state: paused;
  animation-delay: $app-window-progress;

  animation-iteration-count: 1;
  animation-fill-mode: both;
}

.progress-bar-done {
  background-color: $green;
}

@keyframes width {
  to {
    width: 100%;
  }
}

#progress-percentage {
  content: "var(--scroll)";
}

.macos-top-bar {
  height: 25px;
  background: linear-gradient(0deg, $gray-400 0%, $gray-200 100%);
  padding: 6px 10px;
  border-radius: 5px 5px 0 0;
  border: 1px;
  border-color: lighten($gray-200, 2%);
  border-style: solid none none;
}

.macos-top-bar-q {
  float: left;
  background: #ff6056;
  border: 1px solid darken(#ff6056, 5%);
  width: 12px;
  height: 12px;
  border-radius: 1em;
  margin-right: 6px;
}

.macos-top-bar-min {
  float: left;
  background: #ffbe2e;
  border: 1px solid darken(#ffbe2e, 5%);
  width: 12px;
  height: 12px;
  border-radius: 1em;
  margin-right: 6px;
}

.macos-top-bar-max {
  float: left;
  background: #2cc941;
  border: 1px solid darken(#2cc941, 5%);
  width: 12px;
  height: 12px;
  border-radius: 1em;
  margin-right: 6px;
}

#license{
  h1{
    margin: 10vh 0;
  }
}

#landing{
  padding: 10vh 0;
  font-size: $font-size-lg;
  font-weight: $font-weight-light;
  h1{
    margin-bottom: 3vh;
  }
  .landing-description {
    margin-top: 3vh;
  }
  .download-button {
    font-size: $font-size-lg;
  }
}

#download {
  background: $clr-bg;
  color: $white;
  font-weight: $font-weight-light;
  padding: $vert-pad*2 0;
  .text-muted {
    font-size: $font-size-base;
  }
}
.download-button {
  @include yellow-button(10px, 30px);
}

#features {
  background: darken($clr-bg, 3%);
  color: $clr-white;
  font-weight: $font-weight-light;
  padding: 10vh 0 0;
  h3 {
    font-size: $h3-font-size;
    @include media-breakpoint-up(md) {
      font-size: $h2-font-size;
    }
    &:before {
      content: ".";
      color: $primary;
    }
  }
}

#feature-reports {
  padding: 10vh 0;
  p {
    color: $gray-400;
  }
  #report-container {
    background-color: $gray-100;
    border: 10px solid $primary;
    border-radius: $border-radius-lg;
    .table {
      font-size: 12px;
      font-family: $font-family-monospace;
      thead {
        th {
          border: none;
        }
      }
    }
  }
}

#report {
  white-space: nowrap;
  font-family: $font-family-monospace;
  th {
    font-weight: $font-weight-bold;
  }
  tr {
    font-weight: $font-weight-normal;
  }
}

.photo-thumbs {
  position: relative;
}

.photo-thumb {
  position: relative;
  float: left;
  width: 50%;
  text-align: center;
  font-size: 1rem;
  @include media-breakpoint-up(md){
    width: 56%;
  }
  img {
    width: 100%;
    border: 3px solid $white;
    @include window-shadow();
    margin-bottom: 1em;
  }
  .photo-thumb-title {
    font-weight: $font-weight-bold;
    color: $white;
  }
  .photo-thumb-checksum {
    color: $secondary;
  }
}

.photo-thumb-1 {
  @include media-breakpoint-down(md){
    padding-right: $spacer/2;
  }
  @include media-breakpoint-up(md){
    left: 0;
    top: 0;
  }
}

.photo-thumb-2 {
  @include media-breakpoint-down(md){
    padding-left: $spacer/2;
  }
  @include media-breakpoint-up(md){
    margin-left: -15%;
    margin-top: 2%;
  }
}

#checksum {
  margin-top: $vert-pad;
  background: $clr-bg;
  border-radius: $border-radius-lg;
  padding: $spacer $spacer;
  @include media-breakpoint-up(md){
    padding: $spacer $spacer*2;
  }
  h4{
    font-size: $h3-font-size;
    padding-bottom: 1rem;
    border-bottom: .2rem solid $clr-bg;
  }
  p {
    font-size: $font-size-md;
  }
  .table{
    font-size: $font-size-sm;
    font-weight: $font-weight-normal;
    @include media-breakpoint-up(md){
      font-size: $font-size-md;
    }
    tr{
      td{
        text-align: center;
        border: none;
      }
    }
  }
  .checksum-explanation {
    color: $gray-600;
    font-size: $font-size-base;
    font-weight: $font-weight-light;
  }
}
.checksum-filename {
  // color: lighten($primary, 3%);
  color: $white;
}
.checksum-hash{
  // color: lighten($orange, 10%);
  color: $primary;
}
.checksum-success{
  color: lighten($green, 10%);
}
.checksum-fail{
  color: lighten($primary, 20%);
}
.checksum-symbol {
  font-size: 3rem;
  color: $gray-600;
}

#donate {
  .donate-container {
    padding: $spacer;
    background: lighten($primary, 20%);
    border-radius: $border-radius-lg;
    font-weight: $font-weight-light;

    @include media-breakpoint-up(md) {
      padding: 3rem;
    }

    p {
      color: lighten($clr-bg, 15%);
    }
    .form-group {
      margin: 0;
    }

    .donate-amount {
      position: relative;
      input {
        font-size: $font-size-lg;
        font-weight: $font-weight-light;
        margin-bottom: 0.6em;
        text-align: center;
        border-color: lighten($orange, 30%);
      }
      .currency-suffix {
        font-size: $font-size-lg;
        position: absolute;
        top: 0.29em;
        right: 0.5em;
        font-weight: $font-weight-light;
        color: $gray-500;
      }
    }
    .form-text {
      font-size: $font-size-sm;
    }
  }
}

.donate-button {
  font-size: $font-size-base;
  width: 100%;
  @include yellow-button(0.4em, 1.2em);
  margin: 0;
}

.donut {
  border: 50px solid burlywood;
  border-radius: 100px;
  width: 100%;
  height: 7rem;
}

footer {
  background: $primary;
  padding: 4rem 0 3rem;
  .icon {
    color: $red;
  }
  p {
    color: $clr-bg;
  }
  a {
    color: $orange;
  }
  .footer-menu {
    margin-bottom: $spacer;
  }
  .back-to-top {
    text-align: center;

    a {
      color: darken($primary, 30%);
    }

    .icon {
      color: inherit;
    }

    @include media-breakpoint-up(md) {
      text-align: right;
    }
  }
}

.fat-divider {
  height: 50vh;
}
